body {
    display: flex;
    flex-direction: column;
    align-items: center; /* จัดกึ่งกลางแนวนอน */
    height: 100vh; /* ให้สูงเต็มหน้าจอ */
    margin: 0;
    justify-content: center;
    text-align: center; /* จัดตัวหนังสือตรงกลาง */
    background-image: url(S__14090257.jpg);
    background-size:100%; /* ปรับขนาดเป็น 150% ของรูปเดิม */
    background-position: center; /* ให้ซูมจากกึ่งกลาง */
}
.title{
    font-size: 75px;
    font-weight: bold;
    color: rgb(255, 251, 251);

}    

.image-container {
    display: flex;
    gap: 50px; /* ระยะห่างระหว่างรูป */
    justify-content: center; /* จัดให้อยู่ตรงกลาง */
    margin-top: 20px;
}

.image-box {
    text-align: center; /* จัดให้ชื่ออยู่ตรงกลางใต้รูป */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out
    
}

.image-box img {
    width: 400px; /* ปรับขนาดรูป */
    height: auto;
    border-radius: 15px; /* ทำให้ขอบมน */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto;
    
}

.image-box img:hover {
    transform: scale(1.02) !important; /* ขยายขึ้น 10% */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7) !important; /* เพิ่มเงา */
}

.name {
    margin-top: 10px; /* ระยะห่างระหว่างรูปกับชื่อ */
    font-size: 30px;
    font-weight: bold;
    
    
}

.name a {
    text-decoration: none;
    color: #ffffff;
    transition: text-shadow 0.3s ease-in-out;

}

.name a:hover {
    color: rgb(173, 117, 181); /* เปลี่ยนสีเมื่อ hover */
    text-shadow: 0px 0px 10px rgba(173, 117, 181, 0.8);

}

.left{
    color: rgb(255, 251, 251);
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    

}

