html, body {
    height: 100vh;
    margin: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    width: 50%;
    padding: 50px;
    text-align: left;
    font-size: 20px;
    border: 1px solid black;
}

.first-cell {
    background-color: skyblue;
}

.second-cell {
    background-color: pink;
}
